{#
/**
 * @file
 * Default theme implementation for an image extended capability configuration
 *
 * Available variables:
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_extended_capability_config()
 *
 * @ingroup themeable
 */
#}
<div>
    {# Render widget data without the image preview that was output already. #}
    {# data|without('capability_enabled') #}
    {{ data }}
</div>
